* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #9d9d9d;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

.switchable {
  position: fixed;
  z-index: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #444;
}

#chooseSession > div {
  display: flex;
}

.me {
  color: #fff;
}
